<h2>Pizzas Made (red) and Complaints Logged (grey)</h2>
<br>
<canvas id="myChart" width="1000" height="400"></canvas>


<script type="text/javascript">
    (function() {
      var pizzas = <%= raw @pizzas.to_json %>;
      var complaints = <%= raw @complaints.to_json %>;
      var xAxis = [];
      var pizzaData = [];
      var complaintData = [];

      for(var i=0; i<pizzas.length; i++)
      {
          var p = pizzas[i];
          var c = complaints[i];
          xAxis.push(p.date);
          pizzaData.push(p.amount);
          complaintData.push(c.total);
      }

      console.log(xAxis);
      console.log(pizzaData);
      console.log(complaintData);

      var data = {
          labels : xAxis,
          datasets : [
              {
                  fillColor : "#B20000",
                  strokeColor : "#B20000",
                  pointColor : "#000000",
                  pointStrokeColor : "#fff",
                  data : pizzaData
              },
              {
                  fillColor : "#616B6B",
                  strokeColor : "#616B6B",
                  pointColor : "#000000",
                  pointStrokeColor : "#fff",
                  data : complaintData
              }
          ]
      };

      var options = {
        scaleOverlay : true,
        scaleShowGridLines : false,
        animationEasing : "easeInOutSine",
      };

      var ctx = document.getElementById("myChart").getContext("2d");
      var myChart = new Chart(ctx).Line(data,options);

    })();
</script>